


<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/agilidad.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Resuelve la opereacion aritmetica lo mas rapido posible.</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
    
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/PPtijera.png" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la maquina y gana la mayor cantidad de partidas.</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/guessthecountry.jpg" alt="Avatar" style="width:100%">
      <h1>Adivna el pais</h1>
      <p class="title">Adivina la mayor cantidad de paises y ganas puntos.</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('AdivinaPais')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
      <h1>Anagrama</h1>
      <p class="title">Ordena las letra y forma una palabra.</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>

  </div>